<ul id="menu-bar">
 <li class="active"><a href="/">Hem</a></li>
 <li><a href="#">Våra producter</a>
  <ul>
   <li><a href="#">Products Sub Menu 1</a></li>
   <li><a href="#">Products Sub Menu 2</a></li>
   <li><a href="#">Products Sub Menu 3</a></li>
   <li><a href="#">Products Sub Menu 4</a></li>
  </ul>
 </li>
 <li><a href="/webshop">Webshop</a></li>
 <li><a href="#">Om oss</a></li>
 <li><a href="#">Kontakta oss</a></li>
{{!-- <li> --}}
   <a href="/shopping-cart">
 <i id="cart" class="fa fa-shopping-basket" aria-hidden="true"></i>
<span id="cartqty" class="badge">{{session.cart.totalQty}}</span>
   </a>
{{!-- </li> --}}
</ul>

