<p>Om oss
Åkrabergs Trädgård är ett familjeföretag som ligger där Viskan flyter ut i Kattegatt.
 Åkraberg är en handelsträdgård med ett stort utbud av växter och trädgårdstillbehör av hög kvalitét. Vi har ett brett sortiment av 
ekologiska produkter och vår dammavdelning med växter och fiskar har blivit något av en specialitet för oss.</p>