<div class="container1">
  <div class="about">
<p> <h2>Om oss</h2></p> 
Åkrabergs Trädgård är ett familjeföretag som ligger där Viskan flyter ut i Kattegatt.
<br>
 Åkraberg är en handelsträdgård med ett stort utbud av växter och trädgårdstillbehör av hög kvalitét.
 <br> 
 Vi har ett brett sortiment av 
ekologiska produkter och vår dammavdelning med växter och fiskar har blivit något av en specialitet för oss.</p>
</div>
</div>