<div class="container1" >
  <p class="Forum">Forum</p>
{{#each snippets}}

<div class="Snippet">
  <p class="title">Namn: {{title}}</p>
    {{text}}
</div>
{{/each}}

<form action="/forum" method="POST">
<input class="name" name='title' placeholder="Skriv in ditt namn">
<br>
<textarea class="textarea" name='text' placeholder="Ställ din fråga"></textarea>
<br>
{{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
<button class="submit" type="submit">Sänd</button>
</form>
</div>
