<div class="piccontainer" >
<div id="slides">
    <div class="slide showing"><img src="images/blad.jpg" height="300px" width="500px"></div>
    <div class="slide"><img src="images/blomställ.jpg" height="300px" width="500px"></div>
    <div class="slide"><img src="images/krukor.jpg" height="300px" width="500px"></div>
    </div>
</div>
<div class="container1">
<div class="Text"> <p>
Välkommen till Åkrabergs Handelsträdgård
<br>
Här kan du finna webshop i menyn ovan.
<br>
Ni kan finna vart vi är belägna i fliken om oss
<br>
Information om våra producter och vart ni kan finna oss finns i menyn producter.
<br>
Det finns även ett forum för oss växtintresserade så skapa ett konto och ta
del av vår gemenskap. 
<br>
Våra öppettider
må-fre 10-18
lö-sö 10-15
välkomna!
</p></div>
</div>




 <script src="/socket.js"></script>

