<div id="test">
<div class="piccontainer" >
<div id="slides">
    <div class="slide showing"><img src="images/blad.jpg" height="350px" width="350px"></div>
    <div class="slide"><img src="images/blomställ.jpg" height="350px" width="350px"></div>
    <div class="slide"><img src="images/krukor.jpg" height="350px" width="350px"></div>
    </div>
</div>
<div class="Text"> <p>lorumipsumlorumipsum
lorumipsumlorumipsum  lorumipsumlorumipsum lorumipsumlorumipsu  mlorumipsu
</p></div>

</div>
