  <div class="container1">
  <p>Login</p>
<form action="/login" method="POST">
<input type="text" placeholder="Enter username" name="username" required>
<br>
<input type="password" placeholder="Enter Password" name="psw" required>
<br>
 {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
<button type="submit">Login</button>
</form>
</div>